html {
  font-size: 62.5%;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

body {
  @include light__theme;
}

body.dark-theme {
  @include dark__theme;
}

@media (prefers-color-scheme: dark) {
  body {
    @include dark__theme;
  }

  body.light-theme {
    @include light__theme;
  }
}

body {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

::selection {
  background: #ffc845;
  color: #000;
}

* {
  font-family: var(--font__body);
}

body {
  background: var(--color__body-background);
  font-size: clamp(1.8rem, 4vw, 2.5rem);
  font-weight: var(--font__regular-weight);
  color: var(--color__body-text);
  overflow-x: hidden;
}

img {
  filter: var(--effect__image-filter);
}

p {
  margin: var(--unit__margin-default);
}

strong {
  font-weight: var(--font__bold-weight);
}
