#mode-button {
  font-size: 80%;

  .mode-toggle {
    display: inline-grid;
    grid-gap: 1em;
    align-items: center;
    grid-template-areas: "input label";
    grid-template-columns: 2.5rem auto;
    justify-self: center;
  }
  .mode-toggle-control {
    border-radius: 1em;
    background-color: var(
      --color__forms-buttons-bkg
    ); // var(--color-on-purple);
    display: inline-grid;
    align-items: center;
    opacity: 0.8;
  }
  .mode-toggle-control,
  .mode-toggle input {
    // font-size: 1rem;
    // width: 2rem;
    // height: 0.8rem;
    font-size: 2rem;
    width: 4rem;
    height: 1.6rem;
    grid-area: input;
  }

  .mode-toggle input {
    opacity: 0;
  }

  input:checked + .mode-toggle-control:before {
    --switch-color: #0f0; // var(--color-purple);
    --switch-x: 100%;
  }
  .mode-toggle-control:before {
    --switch-color: #f00; // var(--color-surface);
    --switch-x: 0%;
    content: "";
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: var(--switch-color);
    transform: translateY(-8%) translateX(var(--switch-x));
    transition: var(--effect__transition);
    border: 4px solid #000; // var(--color-on-purple);
  }
}
