body {
  scrollbar-width: auto;
  scrollbar-color: var(--light__color-text);
}

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}
::-webkit-scrollbar-track {
  background: var(--light__color-text);
}
::-webkit-scrollbar-thumb {
  background-color: var(--color__secondary);
  border-radius: 0;
  border: 2px solid var(--light__color-text);
}
