header {
  .container {
    display: flex;
    align-items: center;
    width: 90%;
    max-width: var(--unit__body-maxwidth);
    padding: 1.5rem 0;
    margin: 0 auto;

    .logo {
      display: flex;
      align-items: center;

      img {
        border-radius: 50%;
      }

      div:nth-child(2) {
        margin: 0 1rem;
        @include media-max(480px) {
          font-size: 80%;
        }
      }
    }

    #mode-toggle-container {
      margin-left: auto;
    }
  }
}

main {
  display: grid;
  grid-template-columns: 1fr min(50ch, 100%) 1fr;
  max-width: 90%;
  margin: 0 auto 3em auto;

  > * {
    grid-column: 2;
  }
}

footer {
  .container {
    display: flex;
    align-items: center;
    width: 90%;
    max-width: var(--unit__body-maxwidth);
    margin: 0 auto;
    padding: 1rem 0;
    border-top: 2px solid var(--color__default_yellow);

    .info {
      margin: 15px 0;
    }

    .nav {
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;

      nav {
        ul {
          list-style: none;
          margin: 0;
          padding: 0;

          li {
            display: inline;
          }

          li:not(:first-child) {
            padding-left: 36px;
          }

          @include media-max(1023px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            li:not(:first-child) {
              padding-left: 0;
            }
          }

          @include media-max(480px) {
            margin-top: 15px;

            li {
              padding-left: 0;
            }
          }
        }
      }
    }

    @include media-max(480px) {
      flex-direction: column;

      .info {
        order: 2;
      }
      .nav {
        order: 1;
      }
    }
  }
}
