header {
  .container {
    display: flex;
    align-items: center;
    width: 90%;
    max-width: var(--unit__body-maxwidth);
    padding: 1rem 0;
    margin: 0 auto;

    .logo {
      .container {
        flex-direction: column;
        div {
          white-space: nowrap;
          line-height: 1.125;
        }
      }
    }

    .nav-head {
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;

      nav {
        ul {
          list-style: none;
          margin: 0;
          padding: 0;

          li {
            display: inline;
          }

          li:not(:first-child) {
            padding-left: 36px;
          }

          // @include media-max(767px) {
          //   display: grid;
          //   grid-template-columns: repeat(2, 1fr);

          //   li:first-child,
          //   li:nth-child(3) {
          //     padding-left: 0;
          //     margin: 4px 0;
          //   }
          //   li:nth-child(2),
          //   li:nth-child(4) {
          //     padding-left: 48px;
          //     margin: 4px 0;
          //   }
          // }

          // @include media-max(480px) {
          //   li:first-child,
          //   li:nth-child(2),
          //   li:nth-child(3),
          //   li:nth-child(4) {
          //     padding-left: 12px;
          //     margin: 2px 0;
          //   }
          // }
        }
      }
    }
  }
}
