body {
  --text-color: var(--light__text-color);
  --bkg-color: var(--light__bkg-color);
}
body.dark-theme {
  --text-color: var(--dark__text-color);
  --bkg-color: var(--dark__bkg-color);
}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    --text-color: var(--dark__text-color);
    --bkg-color: var(--dark__bkg-color);
  }
  body.light-theme {
    --text-color: var(--light__text-color);
    --bkg-color: var(--light__bkg-color);
  }
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: var(--bkg-color);
  overflow-x: hidden;
}

h1,
p {
  color: var(--text-color);
}
