html {
  font-size: 62.5%;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}
body {
  --text-color: var(--light__text-color);
  --bkg-color: var(--light__bkg-color);
}
body.dark-theme {
  --text-color: var(--dark__text-color);
  --bkg-color: var(--dark__bkg-color);
}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    --text-color: var(--dark__text-color);
    --bkg-color: var(--dark__bkg-color);
  }
  body.light-theme {
    --text-color: var(--light__text-color);
    --bkg-color: var(--light__bkg-color);
  }
}

* {
  font-family: $type__body;
}

body {
  background: var(--bkg-color);
  font-size: clamp(1.8rem, 4vw, 2.5rem);
  color: var(--text-color);
  overflow-x: hidden;
}
