:root {
  // Dark Colours
  --dark__text-color: #ccc;
  --dark__bkg-color: #1c1c1c;

  // Light Colours
  --light__text-color: #222;
  --light__bkg-color: #fff;

  // Fonts
  --font__body: "Inter", Arial, Helvetica, sans-serif;
}
