:root {
  /**
	 * Colours -- DARK
	 */
  --dark__bkg-color: #1c1c1c;
  --dark__text-color: #ccc;
  --dark__color-primary: #ff2929;
  --dark__color-secondary: #ffc845;

  /**
	 * Colours -- LIGHT
	 */
  --light__bkg-color: #fffafa;
  --light__text-color: #545454;
  --light__color-primary: #9a1818;
  --light__color-secondary: #ffc845;

  // Effects
  --effect__transition: 0.4s ease-in-out;

  // Fonts
  --font__body: "Inter", Arial, Helvetica, sans-serif;
}
