// --------------------------------------------------------------------
// DARK THEME
// --------------------------------------------------------------------
@mixin dark__theme {
  --color__body-text: var(--dark__text-color);
  --color__header-text: var(--dark__header-color);
  --color__body-background: var(--dark__bkg-color);
  --color__link-body: var(--color__body-text);
  --color__link-body-underline: var(--color__body-text);
  --color__link-body-hover: var(--dark__color-secondary);
  --color__link-body-underline-hover: var(--dark__color-primary);
  --effect__image-filter: var(--dark__image-filter);
  --font__regular-weight: var(--dark__font-regular-weight);
  --font__bold-weight: var(--dark__font-bold-weight);
}

%dark__theme {
  @include dark__theme;
}

// --------------------------------------------------------------------
// LIGHT THEME
// --------------------------------------------------------------------
@mixin light__theme {
  --color__body-text: var(--light__text-color);
  --color__header-text: var(--light__header-color);
  --color__body-background: var(--light__bkg-color);
  --color__link-body: var(--color__body-text);
  --color__link-body-underline: var(--color__body-text);
  --color__link-body-hover: var(--light__color-primary);
  --color__link-body-underline-hover: var(--light__color-secondary);
  --effect__image-filter: var(--light__image-filter);
  --font__regular-weight: var(--light__font-regular-weight);
  --font__bold-weight: var(--light__font-bold-weight);
}

%light__theme {
  @include light__theme;
}

// --------------------------------------------------------------------
// Media Queries
// --------------------------------------------------------------------
@mixin media($size) {
  @media (min-width: #{$size}) {
    @content;
  }
}

@mixin media-max($size) {
  @media (max-width: #{$size}) {
    @content;
  }
}
