:root {
  // ------------------------------------------------------------------
  // Theme -- DARK
  // ------------------------------------------------------------------
  --dark__color-body-bkg: #1c1c1c;
  --dark__color-text: #ccc;
  --dark__color-header: #ddd;
  --dark__color-primary: #ff2929;
  --dark__color-secondary: #ffc845;
  --dark__color-mode-toggle-control-bkg: var(--dark__color-text);
  --dark__font-regular-weight: 300;
  --dark__font-bold-weight: 500;
  --dark__image-filter: brightness(0.8) contrast(1.2);

  // ------------------------------------------------------------------
  // Theme -- LIGHT
  // ------------------------------------------------------------------
  --light__color-body-bkg: #fffafa;
  --light__color-text: #545454;
  --light__color-header: #444;
  --light__color-primary: #9a1818;
  --light__color-secondary: #ffc845;
  --light__color-mode-toggle-control-bkg: var(--light__color-text);
  --light__font-regular-weight: 400;
  --light__font-bold-weight: 700;
  --light__image-filter: brightness(1) contrast(1); // Default

  // Colours
  --color__default-green: #3fb950;
  --color__default-purple: #6e40c9;
  --color__default-red: #da3633;
  --color__forms-buttons-border: 2px solid var(--dark__color-body-bkg);
  --color__forms-buttons-bkg: #ffc845;
  --color__forms-buttons-text: var(--dark__color-body-bkg);

  // Effects
  --effect__box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --effect__transition: 0.4s ease-in-out;

  // Fonts
  --font__body: "Inter", Arial, Helvetica, sans-serif;

  // Units
  --unit__body-maxwidth: 1500px;
  --unit__border-radius: 0.75rem;
  --unit__margin-default: 1.5rem 0;
  --unit__padding-left: 3rem; // e.g. ol, ul padding-inline-start
}
